.app-container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}

.heading {
  font-size: 15px;
  font-family: 'roboto';
  font-weight: bold;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
}

.mode-button {
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px;
}
